---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Monitoring Part Rutin',
};
---

<Layout metadata={metadata}>
  <section class="relative md:py-12 py-8">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
      <div class="py-4 pt-0 md:py-4 text-center">
        <h1 class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
          Monitoring Part Rutin 2026
        </h1>
      </div>

      <div class="relative overflow-hidden w-full pt-[56.25%] rounded-lg shadow-xl border border-slate-200 bg-white">
        <iframe
          class="absolute top-0 left-0 bottom-0 right-0 w-full h-full"
          title="Summary Indikator Weekly Plan 2026"
          src="https://lookerstudio.google.com/embed/reporting/cabcadad-8604-48b8-9162-9e01a6a1da35/page/ONeKF"
        ></iframe>
      </div>
    </div>
  </section>
</Layout>